// >>> Overall style
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

// >>> Variables
// Fonts
$bigFont: 2.5em;
$mediumFont: 1.1em;

// Colors
$blue1: #293264;
$blue2: #4d5a9f;
$blue3: #d7daf5;
$white1: #f5f6fa;

// >>> Body
body {
  background-color: $white1;
}

// >>> Blobs
.blob {
  position: fixed;
  z-index: -1;
}

#blob1 {
  top: 0;
  right: 0;
}

#blob2 {
  bottom: 0;
  left: 0;
}

// >>> Intro Page
.startQuiz {
  width: 80%;
  margin: 0 10%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.startQuiz__title {
  font-size: $bigFont;
  color: $blue1;
}

.startQuiz__description {
  margin: 1em 0 2em;
  font-size: $mediumFont;
  color: $blue1;
}

.startQuiz__startButton {
  width: 10em;
  height: 3em;
  font-size: $mediumFont;
  background-color: $blue2;
  color: $white1;
  border: none;
  border-radius: .8em;
  cursor: pointer;
}

// >>> Quiz Page
.quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.questionSection {
  width: 90%;
  margin: 2em 0 0;
  display: flex;
  flex-direction: column;
}

.questionSection__title {
  color: $blue1;
  margin-bottom: 1em;
}

.questionSection__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.answerButton {
  margin-bottom: 1em;
  font-size: $mediumFont;
  color: $blue1;
  background-color: $white1;
  border: .12em solid $blue1;
  border-radius: .8em;
  padding: .5em 1em;
  cursor: pointer;
}

.answerButton:disabled {
  opacity: 0.6;
}

.selected {
  background-color: $blue3;
  border: none;
}

.quizEnd {
  text-align: center;
}

.quizResult p {
  margin-top: 1em;
  font-size: $mediumFont;
  font-weight: bold;
  color: $blue1;
}

.quizButton {
  margin: 1em 0 2em;
  width: 10em;
  height: 3em;
  font-size: $mediumFont;
  background-color: $blue2;
  color: $white1;
  border: none;
  border-radius: .8em;
  cursor: pointer;
}

.rightAnswer {
  opacity: 1 !important;
  background-color: #94d6a3;
  border: none;
}

.wrongAnswer {
  opacity: 0.6;
  background-color: #F8BCBC;
  border: none;
}

// >>> Responsive design
@media only screen and (min-width: 768px) {
  .questionSection__buttons {
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .answerButton {
    margin-right: 1em;
  }
}
